.cover{
    background-color: white;
    text-align: center;
    border: solid black;
    border-width:1 1px;
    height: 80%;
    width: 95%;
}

.book{
    background-color: gray;
    text-align: center;
    border-right: solid black;
    border-bottom: solid black;
    border-width: 1 1px;
    height: 650px;
    width: 100%;
    border-bottom-left-radius: 15%;
    border-top-right-radius: 5%;

}

.title{
    padding: 20%;

}

.author{
    padding: 10% 5% 50% 5%;
    
}